/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

p {
  margin: 0;
}

body {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

header {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  color: whitesmoke;
  text-shadow: 0 0 35px whitesmoke;
}

.board {
  display: none;
  grid-template-columns: repeat(3, 128px);
  grid-template-rows: repeat(3, 128px);
  margin-top: 3rem;
  /* gap: 10px; */
  /* border: 1px solid white; */
  background-color: black;
}

.activate-board{
  display: grid;
  animation: 1.5s fadeInUp;
}

.tile {
  background-image: url(./images/blackboard.png);
  border: 1px solid whitesmoke;
  cursor: pointer;
  /* margin: 10px; */
}

#tile-0, #tile-1, #tile-2 {
  border-top: none;
}
#tile-0, #tile-3, #tile-6 {
  border-left: none;
}
#tile-6, #tile-7, #tile-8 {
  border-bottom: none;
}
#tile-2, #tile-5, #tile-8 {
  border-right: none;
}

.tile:hover{
  box-shadow: 0 0 20px whitesmoke;
}

#puff {
    cursor:pointer;
    display:none;
    position:absolute;
    height:32px;
    width:32px;
    background: url('./images/Smoke.png') no-repeat;
}

.game-over {
  position: absolute;
  top: 30vh;
  display: none;
  justify-self: center;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 700;
  z-index: 1000;
  
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.game-over.active{
  display: flex;
  animation: 1.5s fadeInUp;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board.blur {
  filter: blur(15px);
  pointer-events: none;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
  margin-top: 3vh;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}

#form label {
  text-shadow: 0 0 100px whitesmoke;
  /* font-size: 100px; */
}

#form input {
  outline: none;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0 0.5rem 0 1rem;
}

#form button {
  border-radius: 1rem;
  padding: 0 1rem 0 1rem;
  margin-top: 2rem;
  background-color: white;
  border: none;
}

#form button:hover {
  box-shadow: 0 0 25px white;
}

#form button:active {
  box-shadow: none;
}









